.promo
    position: relative
    width: 100vw
    height: 100vh
    min-height: 530px
    padding: 35px 0 95px

    h1, h2, .hamburger, .hidden
        display: none

    .hamburger
        display: none

    .container
        height: 100%
        display: flex
        flex-direction: column
    .navigation
        position: fixed
        top: 0
        width: 100%
        height: 60px
        background-color: rgba(0, 0, 0, .0)
        transition: .4s
        z-index: 1
        ul
            display: flex
            width: calc(100vw - 300px)
            margin: 0 auto
            padding: 5px 20px
            justify-content: flex-end
            align-items: center
            font-size: 29px
            font-style: normal
            font-weight: 400
            text-shadow: 0 0 1px #fff
            transition: .5s
            transform: translateY(35px)
            li
                margin: 0 15px
                -webkit-tap-highlight-color: transparent
                img
                    width: 50px
                    height: auto
                    padding: 0
                    border-radius: 50%
                    opacity: 0
                    transition: .5s all
                    outline: none
                    &:hover
                        transform: scale(1.09)
                    &:active
                        transition: .1s
                        box-shadow: 0 0 10px 0px #fff
                a
                    position: relative
                    display: block
                    color: #fff
                    padding: 5px
                    transition: .5s opacity
                    &::before, &::after
                        content: ''
                        display: block
                        height: 2px
                        background-color: $light
                        position: absolute
                        transform: scaleX(0)
                        transition: .5s
                    &::before
                        width: calc( 100% - 16px )
                        right: 8px
                        top: -3px
                        transform-origin: right
                        opacity: 0
                    &::after
                        width: 100%
                        left: 0
                        bottom: 1px
                        transform-origin: left
                        opacity: 0
                    &:hover, &:target                        
                        text-shadow: none
                        &::before, &::after
                            transform: scaleX(1)
                            opacity: .8
                    &:active
                        color: $light
                        &::before, &::after
                            opacity: .5
                .active
                    text-shadow: none
                    &::before, &::after                      
                        transform: scaleX(1)
                        opacity: .8
                &:first-child
                    height: 51px
                    margin-right: auto
                    visibility: hidden
                    transition-delay: .5s
                    a
                        padding: 0
                        &::before, &::after
                            content: none
        &_scroll
            background-color: rgba(0, 0, 0, .75)
            ul
                transform: translateY(0)
                li
                    &:first-child
                        visibility: visible
                        transition-delay: 0s
                    img
                        opacity: 1
                        transition: .5s all

    .main-logo
        width: 22%
        height: auto
        transition-duration: 2s
        border-radius: 50%
        &:hover
            transform: scale(1.04)
    .sub-logo
        width: 77%
        height: auto
        margin-left: auto
        margin-top: auto
        margin-right: 65px
        transition-duration: 2s
        &:hover
            transform: scale(1.03)
    &__background
        position: absolute
        z-index: -1
        top: 0
        left: 0
        width: 100%
        height: 100%
        min-height: inherit
        background-color: #000000aa
    &__slide
        width: 100vw
        height: 100vh
        min-height: 530px
        &_1
            background: url('../img/bg/001.jpg') center / cover no-repeat #000000aa
        &_2
            background: url('../img/bg/002.jpg') center / cover no-repeat #000000aa
        &_3
            background: url('../img/bg/003.jpg') center / cover no-repeat #000000aa
        &_4
            background: url('../img/bg/004.jpg') center / cover no-repeat #000000aa
        &_5
            background: url('../img/bg/005.jpg') center / cover no-repeat #000000aa
        &_6
            background: url('../img/bg/006.jpg') center / cover no-repeat #000000aa
